main#join-page h1 {
    text-align: center;
    font-size: 48px;
}

main#join-page > p {
    text-align: center;
    margin-bottom: 40px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

label[for="fullname"],
label[for="email"] {
    display: block;
    margin-bottom: 8px;
}

#fullname,
#email ,
#phone {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form label:not([for]) {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 12px;
    gap: 5px;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #102d3d;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1b465c;
}

.join-page {
    padding-top: 120px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    align-items: flex-start;
}

.join-info {
    width: 50%;
    padding-top: 70px;
}

.join-form-side {
    width: 100%;
}


.join-form-side > p {
    text-align: center;
    margin-bottom: 40px;
}


@media (max-width: 600px) {

    .join-page {
    padding-top: 60px;
    width: 100%;
    margin: 0;
    flex-direction: column;
    gap: 40px;
}

.join-info,
.join-form-side {
    width: 100%;
}

    main#join-page {
        padding: 20px;
        padding-bottom: 40px;
    }

    main#join-page h1 {
        font-size: 36px;
    }

    form {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    #fullname,
    #email {
        width: 100%;
    }

    form label:not([for]) {
        display: flex;
        margin-bottom: 10px;
    }

.join-page {
    padding-top: 60px;
}
}